// без этой комманды данный блок затменяет большую часть страницы
next-route-announcer {
    display: none
}

@mixin selectArea {
    border: 1px solid gray;
}

@mixin textCentering {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none; 
}

.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 100vh max-content max-content;
    grid-gap: 1em;
}

button {
    border: none;
    cursor: pointer;
}

// header
.header {
    // @include selectArea;
    @include textCentering;
    grid-area: header;

    &__content {
        .header__title {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: center;
        }

        .header__benefit {
            font-size: 11px;
        }
    }
}

// main
.main {
    // @include selectArea;
    grid-area: main;
    margin: 13px 235px;

    &__title {
        // @include selectArea;
        @include textCentering;
        font-size: 11px;
        color: gray;
        // font-weight: 400;
        margin-bottom: 20px;
    }

    .paragraph {
        @include selectArea;
        border-radius: 10px;
        margin-bottom: 10px;
        background-color: #f1f1f1;
        padding: 10px 10px 1px 10px;
        font-size: 14px;

        .monospace {
            display: flex;
        }
    }

    .paragraph_noCode {
        padding: 10px 10px 8px 10px;
    }

    .command {
        display: flex;
        align-items: center;
    }

    &__source {
        // @include selectArea;
        @include textCentering;
        padding: 20px 10px 10px;
        font-size: 12px;
        font-style: italic;

        a {
            margin-left: 5px;
        }
    }

    textarea, input {
        border: none;
        pointer-events: none;
        // width: 520px;
        // height: 230px !important;
        margin: 10px 0 10px 14px;
        color: white;
        background-color: #039216;
        opacity: 0.6;
        border-radius: 12px;
        width: max-content;
        padding: 5px 10px;
        resize: none;
    }
}

// footer
.footer {
    // @include selectArea;
    @include textCentering;
    grid-area: footer;

    &__signature {
        font-size: 12px;
        opacity: 0.6;
    }

    &__icons {
        @include textCentering;
        margin-left: 20px;

        div {
            cursor: pointer;
            margin-right: 10px;
        }

        // img:hover {
        //     content: "icon"
        // }

        
    }
}

    [data-tooltip] {
        position: relative; /* Относительное позиционирование */ 
    }

    [data-tooltip]::after {
        content: attr(data-tooltip); /* Выводим текст */
        position: absolute; /* Абсолютное позиционирование */
        width: max-content; /* Ширина подсказки */
        border-radius: 12px;
        left: 0; top: 0; /* Положение подсказки */
        background: #039216; 
        color: #fff; 
        font-size: 15px;
        padding: 0.5em; /* Поля вокруг текста */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
        pointer-events: none; /* Подсказка */
        opacity: 0; /* Подсказка невидима */
        transition: 1s; /* Время появления подсказки */
    } 

    [data-tooltip]:hover::after {
        opacity: 0.6; /* Показываем подсказку */
        top: -2.5em; /* Положение подсказки */
        left: -3.5em;
    }
