@mixin selectArea {
    border: 1px solid gray;
}

@mixin textCentering {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin glow {
    -moz-box-shadow: 0 0 11px #00ad00d1;
    -webkit-box-shadow: 0 0 11px #00ad00d1;
    box-shadow: 0 0 11px #00ad00d1;
}

@mixin stylizedCursor {
    cursor: url('https://clck.ru/re8zx'), pointer;
}