@import "../common/mixins.scss";  
@import "../common/variables.scss";  

.container {
    height: 96.5vh;
    display: grid;
    grid-template-rows: 180px max-content max-content;
    grid-gap: 1em;
    justify-items: center;

    &__title {
        font-size: 50px;
        font-weight: 550;
        margin: 50px 0 100px 0;
        text-transform: uppercase; 
        height: 100px;
        background-image: conic-gradient(black, gray, black);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

    &__row:nth-child(1) {
        margin-top: 150px;
    }

    &__row {
        @include textCentering;

        .container__card {
            @include selectArea;
            @include textCentering;
            width: 100px;
            height: 100px;
            margin: 0 20px;
            cursor: pointer;
            border-radius: 10px;
        }

        .container__defaultCard {
            @include selectArea;
            @include textCentering;
            width: 100px;
            height: 100px;
            margin: 0 20px;
            background: #e4e2e2;
            border-radius: 10px;
        }
    }
}