@import "../common/mixins.scss";  
@import "../common/variables.scss";  

.container {
    height: 96.5vh;
    display: grid;
    grid-template-rows: max-content max-content;
    grid-gap: 1em;
    justify-items: center;

    .container__row:nth-child(1) {
        margin-top: 150px;
    }

    &__row {
        @include textCentering;

        .container__card {
            @include selectArea;
            @include textCentering;
            width: 100px;
            height: 100px;
            margin: 0 20px;
        }
    }
}